@page
@using HtmlCssToImage.Models.Requests
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    var ImageRequest = new HtmlCssToImage.Models.Requests.CreateUrlImageRequest()
    {
        Url = "https://thiswebsite.com/_social/privacy",
        Selector = "#shot",
        ViewportWidth = 800,
        ViewportHeight = 400,
        DeviceScale = 1.5
    };
}
@section HCTIMetaTags{
    <hcti-og-url image-request="@ImageRequest"/>
    <hcti-og-url image-request="@ImageRequest" og-meta-type="twitter:image"/>
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>