name: Build and Pack
on:
  workflow_dispatch:
  push:
    branches: [ main ]
env:
  DOTNET_NOLOGO: true
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        dotnet: [ '9.0.x', '10.0.x' ]
    steps:
      - uses: actions/checkout@master
      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - run: dotnet --info
      - name: Build solution and run all tests
        run: dotnet test
      - name: pack
        if: matrix.dotnet == '10.0.x'
        run: |
          dotnet pack -c Release -o output
      - name: Upload Artifact
        if: matrix.dotnet == '10.0.x'
        uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: output/*.nupkg

  publish:
    needs: build-and-test
    permissions:
      contents: read
      id-token: write
    if: github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && github.ref == 'refs/heads/main')
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: nuget-packages

      - name: NuGet login
        uses: NuGet/login@v1
        id: login
        with:
          user: ${{ secrets.NUGET_USER }}

      - name: Push to NuGet
        run: |
          for file in ./*.nupkg; do
            dotnet nuget push "$file" --api-key "${{ steps.login.outputs.NUGET_API_KEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
          done